---
---

@import "{{ site.theme }}";


// Attempt at a light theme
$light-fg:#002501;
html.light{
  body{
    background: #f0f0f0 none 0 0;
    color:$light-fg;
  }
  h1, h2, h3, h4, h5, h6, p{
    color:$light-fg;  
  }
  #main_content a{
    color:$light-fg;
  }
  body > a{
    color: $light-fg;
  }
  #button-light-mode{
    display:none;
  }
  #button-dark-mode{
    display:block;
  }
}


html.dark {
  #button-dark-mode{
    display:none;
  }
  #button-light-mode{
    display:block;
  }
}   

#main_content {
  width: 90%;
  max-width: 1000px;
  margin: 0 auto;
  margin-left: 200px;
}

header {
  padding-left: 200px;
}

#sidebar {
  margin: 0;
  padding: 0;
  width: 175px;
  background-color: #111;
  position: fixed;
  height: 100%;
  overflow: auto;
  left: 0;
}

#sidebar img {
 vertical-align: middle;
 padding-right: 5px;
}
#sidebar a {
  display: block;
  //color: black;
  padding: 16px;
  text-decoration: none;
}
.sidebar a.active {
  //background-color: #04AA6D;
  color: white;
}
.sidebar a:hover:not(.active) {
  //background-color: #555;
  //color: white;
}


@media screen and (max-width: 800px) {
  .container{
    width: 100%;
  }
  #sidebar {
    width: 100%;
    height: auto;
    position: relative;
  }
  #sidebar a {float: left;}
  #main_content {
    margin-left: 0;
    width: 100%;
  }
  header{ padding-left: 0; }
}


html.light{
  article{
    border-bottom: 1px dashed $light-fg;
  }
}
article {
    border-bottom: 1px dashed #b5e853;
    padding-top: 20px;
    padding-bottom: 20px;
}

pre {
    overflow: scroll;
}
html body button.theme-button{
  padding: 16px;
  background:none;
  border:none;
  img{
    filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(0deg) brightness(100%) contrast(100%);
  }
}