---
id: 166
title: Online Identity verification
date: 2006-10-16T19:18:15+00:00
author: Anton Piatek
layout: post
guid: http://www.strangeparty.com/2006/10/16/online-identity-verification/
permalink: /2006/10/16/online-identity-verification/
categories:
  - Misc
  - Rights
  - Technology
---
So I had to fill out a tax return a few months ago as I had done some self-employed work over the summer. I probably could have got away with not bothering, but didn&#8217;t really want to try cheating the tax man. As it turned out I got a refund anyway (don&#8217;t ask me how though).

In order to use the online system, I had to get a [online government ID](http://gateway.gov.uk/), which can also be used for many more things. For the basic things you just need to register and they send you a registration code and userid by post (I don&#8217;t know if the address needs to match any other records, or how they verify it). I have now received an email from the [national blood service](http://www.blood.co.uk/) saying that I can use the same site and ID to book donor appointments etc.

For the more complex parts of the site (I have no idea what that is though) you have to have a digital ID issued by verisign or a similar company. These are not particularly cheap though, but then neither are the ID cards the government wants us to pay for. I would rather have a digital certificate than an ID card, and then be able to use that certificate for all sorts of things. Voting for one could be done if everyone had a digital ID.

I have to wonder what else I can do through this site if I have a digital certificate. It would be nice if the government issued a digital ID along with the new ID cards, after all they will already have everything else about you in a database, why not allow you to save some time by using a digital ID to do things online