---
layout: default
---

<small>{{ page.date | date: "%-d %B %Y" }}</small>
<h1>{{ page.title }}</h1>

<p class="view">by {{ page.author | default: site.author }}</p>

{{content}}

{% if page.tags %}
  <small>tags: <em>{{ page.tags | join: "</em> - <em>" }}</em></small>
{% endif %}

<!-- comments vis https://giscus.app/ -->
<script src="https://giscus.app/client.js"
        data-repo="antonpiatek/blog"
        data-repo-id="MDEwOlJlcG9zaXRvcnkxNzM4MTAwMDc="
        data-category="Comments"
        data-category-id="DIC_kwDOClwhV84CPC9R"
        data-mapping="pathname"
        data-reactions-enabled="1"
        data-emit-metadata="0"
        data-input-position="bottom"
        data-theme="dark_dimmed"
        data-lang="en"
        crossorigin="anonymous"
        async>
</script>

